/*

    Custom RWD Grid

    Structure  :   min-width (Mobile-first)
    Grid       :   Float-based
    Syntax     :   SCSS
    Created by :   Jeremy Chen


*/
*, *:before, *:after {
  box-sizing: border-box; }

.container_12 {
  width: 100%;
  max-width: 1400px;
  padding: 0 1.67%;
  margin: auto; }

.container_12_portfolio {
  width: 100%;
  max-width: 1615px;
  padding: 0 1.67%;
  padding-left: 215px; }

.container_toc {
  width: 100%;
  padding: 0%;
  margin-left: 0px; }

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
  width: 100%; }
@media (min-width: 40em) {
  .grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {
    float: left;
    margin: 0 .3%; }
  .grid_1 {
    width: 6.67%; }
  .grid_2 {
    width: 15%; }
  .grid_3 {
    width: 23.33%; }
  .grid_4 {
    width: 31.67%; }
  .grid_5 {
    width: 40%; }
  .grid_6 {
    width: 48.33%; }
  .grid_7 {
    width: 56.67%; }
  .grid_8 {
    width: 65%; }
  .grid_9 {
    width: 73.33%; }
  .grid_10 {
    width: 81.67%; }
  .grid_11 {
    width: 90%; }
  .grid_12 {
    width: 98.33%; } }

.clear:before, .clear:after, .row:before, .row:after {
  content: '';
  display: table; }
.clear:after, .row:after {
  clear: both; }

.row {
  margin-bottom: 10px; }
  .row:last-of-type {
    margin-bottom: 0; }

.clear {
  zoom: 1; }

/* Clear Default*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container_12 {
  padding-top: 50px; }
  @media (max-width: 640px) {
    .container_12 {
      padding-top: 20px; } }

header {
  padding-left: 5.04%; }
  header .icon, header img {
    max-width: 100%;
    height: auto;
    display: inline-block; }
    @media (max-width: 640px) {
      header .icon, header img {
        width: 20%; } }

@-webkit-keyframes sizechange {
  0% {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  100% {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); } }
nav.nav-header {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700; }
  @media (max-width: 640px) {
    nav.nav-header {
      margin-bottom: 10%; } }
  nav.nav-header ul {
    overflow: hidden; }
    nav.nav-header ul li {
      float: right; }
      nav.nav-header ul li a {
        display: block;
        color: rgba(150, 150, 150, 0.9);
        text-align: center;
        padding: 14px 20px;
        text-decoration: none; }
      nav.nav-header ul li a:hover {
        color: rgba(63, 160, 229, 0.5);
        -webkit-transition: color 0.3s;
        /* Safari */
        transition: color 0.3s; }
      nav.nav-header ul li a.active {
        border-bottom: 1px solid #646464;
        color: #646464; }

footer {
  margin: auto;
  padding: 15.04% 0 3% 0;
  text-align: center; }
  footer a {
    color: #c8c8c8;
    font-size: .9em; }
    footer a h4 {
      font-size: 2em;
      padding: 0px;
      margin: auto;
      border-left: 0px;
      display: block;
      color: #c8c8c8; }
    @media (max-width: 650px) {
      footer a {
        font-size: .7em; } }
  footer a:link {
    color: #c8c8c8; }
  footer a:visited {
    color: #c8c8c8; }
  footer a:hover h4, footer a:hover * {
    color: rgba(63, 160, 229, 0.5);
    -webkit-transition: color 0.3s;
    /* Safari */
    transition: color 0.3s; }
  footer p {
    font-size: 0px;
    letter-spacing: 2px;
    width: 10%;
    border-bottom: 2px solid #c8c8c8;
    padding-bottom: 2%;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 300; }
    @media (max-width: 650px) {
      footer p {
        margin-top: 15%; } }
  footer div {
    margin-top: .5%; }
  footer i {
    padding: 2%; }
  footer span {
    font-size: .3em;
    color: #c8c8c8; }

html {
  font-size: 90%; }
  @media (min-width: 1100px) {
    html {
      font-size: 100%; } }

body {
  font-family: 'Open Sans', sans-serif; }

.container_text_font h2 {
  font-family: 'Lato','Open Sans', sans-serif; }
.container_text_font h3 {
  font-family: 'Lato','Open Sans', sans-serif; }

img {
  outline: none; }

h1 {
  font-size: 2.5em;
  font-weight: 500; }
  h1:focus {
    outline: 0; }
  @media (max-width: 640px) {
    h1 {
      margin-top: 10%;
      font-size: 2.4em; } }

h2 {
  font-size: 2em;
  font-weight: 500;
  color: black;
  border-left: 6px solid #3fa0e5;
  padding-left: 3.04%;
  margin-top: 10%;
  margin-bottom: 1.5%; }
  h2:focus {
    outline: 0; }

a {
  -webkit-transition: color 0.3s;
  /* Safari */
  transition: color 0.3s; }

a:hover {
  color: rgba(63, 160, 229, 0.5); }

div.mainTitle {
  text-align: center;
  margin-top: 1%; }
  div.mainTitle h5 {
    padding: 1% 0 0 0;
    font-size: .7em;
    font-weight: 400;
    letter-spacing: 1.5px; }
    @media (max-width: 640px) {
      div.mainTitle h5 {
        padding: 3% 0 0 0; } }
  div.mainTitle div {
    width: 20%;
    border-bottom: 2px solid orange;
    display: inline-block;
    padding: 0 0 1.5% 0; }

div.mainPic {
  margin: auto;
  margin: 4% 0;
  background-color: rgba(241, 241, 241, 0.4);
  padding: 2% 0; }
  div.mainPic img {
    width: 30%;
    display: block;
    margin: auto; }
    @media (max-width: 640px) {
      div.mainPic img {
        width: 40%; } }

.keyPoint {
  padding-bottom: 1%;
  border-bottom: 3px solid rgba(241, 241, 241, 0.8);
  margin-left: 2%;
  margin-bottom: 5%; }
  .keyPoint h4 {
    font-size: 1em;
    font-weight: 600; }
  .keyPoint h5 {
    margin: 8% 0 11% 0;
    line-height: normal;
    font-size: .9em; }
    .keyPoint h5 b {
      font-weight: 700; }

.subSection p {
  font-size: 1.1em;
  line-height: normal;
  height: auto;
  border: 0; }
  @media (max-width: 1093px) {
    .subSection p {
      font-size: 1em; } }
  @media (max-width: 750px) {
    .subSection p {
      font-size: .9em; } }

.proposal {
  margin-top: 2rem; }
  @media (max-width: 640px) {
    .proposal {
      margin-top: 4.63rem; } }
  .proposal .row:nth-child(2) {
    margin-top: 1.88rem; }
  .proposal h1.title {
    font-weight: 300;
    font-size: 2.5rem;
    color: #2B2B2B;
    letter-spacing: 0;
    line-height: 50px; }
  .proposal span.title {
    font-weight: 300;
    font-size: 2.5rem;
    color: #2B2B2B;
    letter-spacing: 0;
    line-height: 50px; }
  .proposal h2 {
    font-family: 'Nunito','Open Sans', sans-serif; }
  .proposal h3 {
    font-family: 'Nunito','Open Sans', sans-serif; }
  .proposal .summary {
    margin-bottom: 0rem;
    padding-right: 2rem; }
    @media (max-width: 640px) {
      .proposal .summary {
        margin-bottom: 4rem; } }
    .proposal .summary h3 {
      font-size: 1rem;
      font-weight: 600;
      color: #2B2B2B;
      letter-spacing: 3px;
      line-height: 25px;
      margin-bottom: 0.19rem; }
    .proposal .summary p {
      font-weight: 400;
      font-size: 1rem;
      color: #555555;
      letter-spacing: 0;
      line-height: 26px;
      margin-bottom: 2rem; }
  .proposal .challenge h3 {
    font-size: 1.75rem;
    font-weight: 600;
    color: #2B2B2B;
    letter-spacing: 0;
    margin-bottom: 1.25rem; }
  .proposal .challenge p {
    font-size: 1.13rem;
    color: #555555;
    font-weight: 400;
    line-height: 29px; }
    .proposal .challenge p span {
      font-weight: 600;
      font-size: 1.13rem;
      color: black;
      line-height: 29px; }
    .proposal .challenge p:nth-of-type(1), .proposal .challenge p:nth-of-type(2) {
      margin-bottom: 3.63rem; }
    .proposal .challenge p:nth-of-type(3) {
      margin-bottom: 2.63rem; }

nav.subNav {
  margin: 1% 0 10% 1%;
  padding-right: 0;
  padding-left: 0;
  padding: 1% 0 3%; }
  @media (max-width: 640px) {
    nav.subNav {
      display: none; } }
  nav.subNav ul {
    margin: auto;
    text-align: center;
    background-color: #fafafa; }
    nav.subNav ul li {
      display: inline-block; }
      nav.subNav ul li a {
        color: rgba(50, 50, 50, 0.6);
        font-size: 1em;
        display: inline-block;
        padding-bottom: 1%; }
        nav.subNav ul li a p {
          font-size: .5em;
          margin-top: 7%;
          color: transparent; }
      nav.subNav ul li a:hover {
        color: rgba(63, 160, 229, 0.5); }
      nav.subNav ul li a.active {
        color: #3fa0e5;
        border-bottom: 1px solid #3fa0e5; }
        nav.subNav ul li a.active p {
          -webkit-transition: color 1s;
          /* Safari */
          transition: color 1s;
          color: #646464; }

nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 1s;
  /* Safari */
  transition: all 1s;
  max-width: 100%;
  margin-top: 0;
  padding-bottom: .5%;
  background-color: rgba(240, 240, 240, 0.9);
  box-shadow: 0px 1px 1.3px rgba(140, 140, 140, 0.9);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px; }

.sticky + .motivation {
  padding-top: 100px; }

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#ham {
  visibility: hidden;
  position: fixed;
  z-index: 5;
  top: 15px;
  left: 15px;
  cursor: pointer;
  transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91); }
  @media only screen and (min-width: 1492px) {
    #ham.is-visible {
      visibility: hidden; } }
  @media only screen and (max-width: 1492px) {
    #ham.is-visible {
      visibility: visible; } }
  #ham.is-invisible {
    visibility: hidden;
    color: transparent; }
  #ham div {
    width: 35px;
    height: 2px;
    margin-bottom: 8px;
    background-color: #6e6e6e;
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms; }

#ham.active {
  left: 170px; }
  #ham.active span {
    color: transparent; }
  #ham.active div {
    background-color: #6e6e6e; }
  #ham.active #ham-top {
    transform: translateY(10px) rotate(-135deg); }
  #ham.active #ham-middle {
    opacity: 0;
    transform: rotate(135deg); }
  #ham.active #ham-bottom {
    transform: translateY(-10px) rotate(-45deg); }

#box {
  position: fixed;
  z-index: 4;
  overflow: auto;
  top: 0px;
  left: -215px;
  width: 0px;
  opacity: 0;
  padding: 20px 0px;
  height: 100%;
  color: #6e6e6e;
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91); }
  @media only screen and (min-width: 1492px) {
    #box.is-visible {
      background-color: transparent;
      width: 215px; } }
  @media only screen and (max-width: 1492px) {
    #box.is-visible {
      visibility: visible;
      background-color: #f6f6f6;
      width: 215px; } }
  #box.is-invisible {
    background-color: transparent;
    color: transparent; }

#box.active {
  left: 0px;
  opacity: 1; }

#items {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  #items .item {
    position: relative;
    cursor: pointer;
    font-size: 2em;
    transition: all 250ms; }
    #items .item:hover {
      padding: 15px 45px;
      background-color: rgba(110, 110, 110, 0.2); }

#ham, #ham * {
  will-change: transform; }

#ham span {
  font-family: "Quicksand" sans-serif;
  color: #6e6e6e;
  display: inline-block;
  margin-top: 7.5rem;
  margin-left: 7px;
  transform: rotate(-90deg);
  transform-origin: left top 0; }

#box {
  will-change: transform, opacity; }

.motivation {
  padding-top: 0%; }
  .motivation p {
    height: 1000px;
    border: 1px solid rgba(122, 122, 122, 0.5); }
  .motivation h2 {
    margin-top: 2%; }

.research p {
  height: 1000px;
  border: 1px solid rgba(122, 122, 122, 0.5); }

.ideation p {
  height: 1000px;
  border: 1px solid rgba(122, 122, 122, 0.5); }

.prototyping p {
  height: 1000px;
  border: 1px solid rgba(122, 122, 122, 0.5); }

.evaluation p {
  height: 1000px;
  border: 1px solid rgba(122, 122, 122, 0.5); }

.implement p {
  height: 1000px;
  border: 1px solid rgba(122, 122, 122, 0.5); }

body {
  font-family: 'Nunito', 'Lato', sans-serif; }

.subSection p {
  font-size: 1.1em;
  line-height: normal;
  height: auto;
  border: 0; }
  @media (max-width: 1093px) {
    .subSection p {
      font-size: 1em; } }
  @media (max-width: 750px) {
    .subSection p {
      font-size: .9em; } }

.mPage_pinBorderOut {
  height: auto;
  margin: auto;
  margin-top: 11.04%;
  padding: 2.04%;
  display: block;
  background-color: rgba(200, 200, 200, 0.1); }
  .mPage_pinBorderOut a p {
    font-size: 1em; }

.mPage_pinBorderIn {
  margin: auto;
  display: block;
  background-color: transparent;
  text-align: center;
  border: 0;
  box-shadow: inset 0 0 0 2px rgba(130, 130, 130, 0.1);
  height: auto;
  position: relative;
  vertical-align: middle; }
  .mPage_pinBorderIn::before, .mPage_pinBorderIn::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; }
  .mPage_pinBorderIn img {
    width: 90%;
    max-width: 90%;
    z-index: 0; }
  .mPage_pinBorderIn h1 {
    font-size: 1em;
    border: 0;
    margin: 0; }
  .mPage_pinBorderIn h2 {
    font-size: .9em;
    border: 0;
    margin: 3% 0;
    color: #f47638;
    padding-bottom: 10%; }

.work-row {
  padding: 0; }
  @media (min-width: 40em) {
    .work-row {
      padding: 0  0  0  6.04%; } }

.borderWorkOut {
  border-radius: 2px;
  height: auto;
  margin: auto;
  margin-top: 11.04%;
  padding: 0%;
  display: block;
  background-color: rgba(200, 200, 200, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .borderWorkOut a p {
    font-size: 1em; }
  .borderWorkOut a:focus {
    outline: none; }
  .borderWorkOut:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.borderWorkIn {
  margin: auto;
  display: block;
  background-color: transparent;
  text-align: center;
  border: 0;
  box-shadow: inset 0 0 0 0px rgba(210, 210, 210, 0.1);
  height: auto;
  position: relative;
  vertical-align: middle; }
  .borderWorkIn::before, .borderWorkIn::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; }
  .borderWorkIn img {
    width: 100%;
    max-width: 100%;
    z-index: 0;
    margin-bottom: 0%; }
  .borderWorkIn h1 {
    font-size: 1em;
    border: 0;
    margin: 0;
    color: black; }
  .borderWorkIn h2 {
    font-size: .9em;
    border: 0;
    margin: 3% 0;
    color: #f47638;
    padding-bottom: 7%; }

div.mainPic {
  width: 100%; }

.wallpaper {
  text-align: center;
  overflow: hidden;
  margin-top: 5.85rem;
  margin-bottom: 3.85rem;
  width: 101.5%;
  position: relative; }
  .wallpaper img {
    width: 100%; }
    @media (max-width: 640px) {
      .wallpaper img {
        width: 100%;
        display: block; } }

.designWork {
  display: none; }

.Modal {
  text-align: center; }
  .Modal img.k380pic {
    width: 100%;
    margin: auto; }

.More_dribbble {
  margin: auto;
  padding-top: 30%;
  padding-left: 30%;
  display: inline-block; }
  .More_dribbble a {
    color: #f6c2c1; }
  .More_dribbble a:visited {
    color: #f6c2c1; }
  .More_dribbble a:hover {
    color: rgba(63, 160, 229, 0.5); }
  .More_dribbble p {
    margin-bottom: .5rem; }
  .More_dribbble span {
    display: inline-block;
    margin-left: .5rem;
    padding-bottom: .5rem; }

.circleFill {
  transition: color 0.25s; }
  .circleFill::before, .circleFill::after {
    border: 0px solid transparent;
    width: 0;
    height: 0; }
  .circleFill::before {
    top: 0;
    left: 0; }
  .circleFill::after {
    bottom: 0;
    right: 0; }
  .circleFill:hover {
    color: #f2b134; }
    .circleFill:hover h1 {
      color: #f2b134;
      transition: all .3s; }
  .circleFill:hover::before, .circleFill:hover::after {
    width: 100%;
    height: 100%; }
  .circleFill:hover::before {
    border-top-color: #f2b134;
    border-right-color: #f2b134;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; }
  .circleFill:hover::after {
    border-bottom-color: #f2b134;
    border-left-color: #f2b134;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s; }

.splitFill:hover {
  color: #f2b134; }
.splitFill::after {
  top: 0;
  left: 0; }
.splitFill:hover::before {
  border-top-color: #f2b134;
  border-right-color: #f2b134; }
.splitFill:hover::after {
  border-bottom-color: #f2b134;
  border-left-color: #f2b134;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s; }

/*# sourceMappingURL=ui.css.map */
