@charset "UTF-8";

/*

    Custom RWD Grid

    Structure  :   min-width (Mobile-first)
    Grid       :   Float-based
    Syntax     :   SCSS
    Created by :   Jeremy Chen


*/


*, *:before, *:after {
    box-sizing: border-box;
}

@mixin forLargeScreens($width) {
    @media (min-width: $width/16+em) { @content }
}

.container_12 {
    width:100%; // Mobile-first
    max-width: 1400px;
    padding: 0 1.67%; // padding: 0 20px/1200px *100%;
    margin: auto; // Center
}
.container_12_portfolio {
    width:100%; // Mobile-first
    max-width: 1615px;
    padding: 0 1.67%; // padding: 0 20px/1200px *100%;
    padding-left: 215px; // Center
}
.container_toc {
  width:100%; // Mobile-first
  //max-width: 3000px;
  padding: 0%; // padding: 0 20px/1200px *100%;
  //margin: auto; // Center
  margin-left: 0px;
}

.grid {
    // Display Mobile-first
    &_1, &_2, &_3, &_4, &_5, &_6, &_7, &_8, &_9, &_10, &_11, &_12 {
        width:100%; // Full-width
    }
    // Define Breakpoint for forLargeScreens
    @include forLargeScreens(640){
        &_1, &_2, &_3, &_4, &_5, &_6, &_7, &_8, &_9, &_10, &_11, &_12 {
            float: left; // float-based
            //margin: 0 .5%; // margin: 0 10px/1200px * 100% 10px right and left margin
            margin: 0 .3%;
        }
        // Grid 12 Columns
        &_1  { width:6.67%;  } // 80px
        &_2  { width:15%;    } // 180px
        &_3  { width:23.33%; } // 280px
        &_4  { width:31.67%; } // 380px
        &_5  { width:40%;    } // 480px
        &_6  { width:48.33%; } // 580px
        &_7  { width:56.67%; } // 680px
        &_8  { width:65%;    } // 780px
        &_9  { width:73.33%; } // 880px
        &_10 { width:81.67%; } // 980px
        &_11 { width:90%;    } // 1080px
        &_12 { width:98.33%; } // 1180px;
    }
}

.clear, .row {
      &:before,
      &:after { content: ''; display:table;}
      &:after { clear: both;}
}

.row {
      margin-bottom: 10px; // 10px between each row
      &:last-of-type { margin-bottom: 0;}
}

.clear { zoom: 1; }

/* Clear Default*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
