$colorMainHeader:#ca4242;
$colorSecHeader:rgba($colorMainHeader, 0.5);
$colorQuote:#666666; //MainHeader
$colorQuote_body:rgba($colorMainHeader,.9); //Body
$colorHighlight: rgb(252, 238, 226);
@import "templateGlobal";






