$colorMainHeader:#7e589b;
$colorSecHeader:rgba($colorMainHeader, 0.5);
$colorQuote:#666666; //MainHeader
$colorQuote_body:rgba($colorMainHeader, 0.9); //Body
$colorHighlight: rgba($colorMainHeader, 0.1);
@import "templateGlobal";






