@import "templateWork";

.subSection {
  p {
    font-size: 1.1em;
    @media (max-width:1093px){
      font-size: 1em;
    }
    @media (max-width:750px){
      font-size: .9em;
    }
    line-height: normal;
    height: auto;
    border: 0;
  }
}
