@import "templateWork";
body {
  font-family: sans-serif,'Lato','Quicksand','Arial';
  background-color: rgb(240,240,240);
}
.subSection {
  p {
    font-size: 1.1em;
    @media (max-width:1093px){
      font-size: 1em;
    }
    @media (max-width:750px){
      font-size: .9em;
    }
    line-height: normal;
    height: auto;
    border: 0;
  }
}
$colorhoverTransTime:.3s;

// mixin for border-color transition
@mixin basicBorder($originBorderWeight:2px,$height:280px,$originBorderColor:transparent) {

  border: 0;
  box-shadow: inset 0 0 0 $originBorderWeight $originBorderColor;
  height: $height;
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

}
.mPage_pinBorderOut {
  height: auto;
  margin: auto;
  margin-top: 11.04%;
  padding: 2.04%;
  display: block;
  background-color: rgba(200,200,200,.1);
  a {
    p {
      font-size: 1em;
    }
  }
}
.mPage_pinBorderIn {
  margin: auto;
  display: block;
  background-color: transparent;
  text-align: center;
  @include basicBorder(2px,auto,rgba(130, 130, 130, .1));
  img {
    width: 90%;
    max-width: 90%;
    z-index: 0;
  }
  h1 {
    font-size: 1em;
    border: 0;
    margin:0;
  }
  h2 {
    font-size: .9em;
    border: 0;
    margin:3% 0;
    color: rgb(244, 118, 56);
    padding-bottom: 10%;
  }
}
.playground {
  span {
    //-webkit-animation:colorchange 4s 1 alternate;
    //-webkit-animation-delay: 1s;
    font-size: 1.3em;
    color:rgba(130,130,130,1);
    font-weight: 200;
    font-family: sans-serif, 'Arial';
    display: block;
    line-height: 2rem;;
    margin: auto;
    text-align: center;
    //margin-top: 1rem;
    padding: 1% 5%;
    //text-transform: uppercase;
    //border-left: 4px solid rgba(63,160,229,1);
    &.firstline {
      margin-top:3rem;
      margin-bottom: 1rem;
     font-family: 'Dosis', sans-serif;
     font-weight: 400;
     font-size: 1.4rem;
     @media (max-width: 650px){
       margin-bottom: 0rem;
       margin-top:0rem;
     }
    }
    @media (max-width: 650px){
      font-size: 1.2em;
      line-height: 1.5em;
      //margin-top: 1rem;
    }
  }
  span.bold {
    font-weight: 400;
    padding: 0;
    margin:0;
    display: inline-block;
    font-family: 'Dosis',sans-serif,'Arial';
    font-size: 1.9rem;
  }
}
 // ------ UX / Programming section ------- //

 .work-row {
   margin-top: 5.04%;
   padding: 0;
   @include forLargeScreens(640){
     padding: 0  0  0  6.04%;
   };
}
 .borderWorkOut {
   border-radius: 2px;
   height: auto;
   margin: auto;

   //margin-top: 11.04%;
   padding: 0%;
   display: block;
   //background-color: rgba(200,200,200,.1);
   //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   a {
     p {
       font-size: 1em;
     }
     &:focus{
       outline:none;
     }
   }
   &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.068), 0 10px 10px rgba(0,0,0,0.068);
   }
 }
 .borderWorkIn {
   margin: auto;
   display: block;
   background-color: transparent;
   text-align: center;
   @include basicBorder(0px,auto,rgba(210, 210, 210, .1));
   img {
     width: 100%;
     max-width: 100%;
     z-index: 0;
     margin-bottom: 0%;
   }
   h1 {
     font-size: 1em;
     border: 0;
     margin:0;
     color:black;
   }
   h2 {
     font-size: .9em;
     border: 0;
     margin:3% 0;
     color: rgb(244, 118, 56);
     padding-bottom: 7%;
   }
 }
 div.mainPic {
   //background: white;
   width: 100%;
 }
 .wallpaper {
   text-align: center;
     overflow:hidden;
     margin-top: 5.85rem;
     margin-bottom: 3.85rem;
     width: 101.5%;
     position: relative;
   img {
     width: 100%;
     @media (max-width:640px){
       width: 100%;

       display: block;
     }
   }
 }
 .designWork {
   display:none;
 }
 .Modal {
  //text-align: center;
  img.k380pic {
    width: 100%;
    margin: auto;
    margin-top: 1.6rem;;
  }
  span {
    //-webkit-animation:colorchange 4s 1 alternate;
    //-webkit-animation-delay: 1s;
    font-size: 1.2em;
    color:rgba(130,130,130,1);
    font-weight: 200;
    font-family: sans-serif, 'Arial';
    display: block;
    line-height: 2rem;;
    //margin: auto;
    //text-align: center;
    //margin-top: 1rem;
    padding: 0% 5%;
    //text-transform: uppercase;
    //border-left: 4px solid rgba(63,160,229,1);
    &.firstline {
      margin-top:3rem;
      margin-bottom: 1.3rem;
     font-family: 'Dosis', sans-serif;
     font-weight: 600;
     font-size: 2rem;
     @media (max-width: 650px){
       margin-bottom: 0rem;
       margin-top:0rem;
     }
    }
    @media (max-width: 650px){
      font-size: 1.2em;
      line-height: 1.5em;
      //margin-top: 1rem;
    }
  }
  span.bold {
    font-weight: 400;
    padding: 0;
    margin:0;
    display: inline-block;
    font-family: 'Dosis',sans-serif,'Arial';
    font-size: 1.9rem;
  }
 }
.More_dribbble {
  margin: auto;
  padding-top: 30%;
  padding-left: 30%;
  display: inline-block;
  a {
    color:rgb(246,194,193);
  }
  a:visited {
    color:rgb(246,194,193);
  }
  a:hover {
    color: rgba(63,160,229,.5);
  }
  p {
    margin-bottom: .5rem;
  }
  span {
    display: inline-block;
    margin-left: .5rem;
    padding-bottom: .5rem;
  }
}
 @import "_borderTrans";
