@import "templateWork";
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
$colorhoverTransTime:.3s;

// mixin for border-color transition
@mixin basicBorder($originBorderWeight:2px,$height:280px,$originBorderColor:transparent) {

  border: 0;
  box-shadow: inset 0 0 0 $originBorderWeight $originBorderColor;
  height: $height;
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }

}

body {
  font-family: 'Quicksand', sans-serif;
  //background-color: #323232;
  background-color: rgb(240,240,240);
margin: 0;max-height: 100vh; //overflow:hidden;
//padding: 9em 0 0 0;
}
h1 {
  font-size: 2.5em;
  margin-top: 10.04%;
  font-weight: 600;
  padding-left: 3.04%;
  margin-left: 0;
  @include forLargeScreens(640){
    margin-left: 5.04%;
  };
  @media (max-width: 650px){
    font-size: 1.8em;
  }
  border-left: 6px solid rgba(63,160,229,1);
  color: rgba(250,250,250,1);
}
h2 {
  font-size: 1.8em;
  margin-top: 10.04%;
  font-weight: 600;
  padding-left: 3.04%;
  border-left: 6px solid rgba(63,160,229,1);
  color: rgba(100,100,100,1);
}
.bg-bottom {
  width: 100%;
  height: auto;
  background-color:rgb(220,220,220);
  margin-top: -1px;
  z-index: 5;
  position: absolute;
}
.layer {
  z-index: 5;
}
.fish {
  //background-image: url(../img/work/fish.svg);
  //background-repeat: no-repeat;
  //background-color: red;
  width: 100%;
  height: 500px;
  top: 8em;
  z-index: -1;
  display: inline-block;
  position: absolute;
}


 // ------ mPage section ------- //
 .mPage_quote {
   padding: 5% 1.04% 0%;
   margin-left: 0px;
   //text-align: center;
    img {
      width: 100%;
    }
     p {
       font-size: 1.5em;
       //color: rgb(199, 154, 58);
       font-family: 'Quicksand', sans-serif;
       font-weight: 400;
       color: rgba(130,130,132,1);
       //-webkit-animation:colorchange 4s 1 alternate;
       @media (max-width: 650px){
         font-size: 4.2em;
       }
     }

   @-webkit-keyframes colorchange {
       0% {

         color: rgba(50,50,50,.8);
       }

       100% {

         color:rgba(130,130,132,1);
       }
   }
   span.bold {
     font-weight: 600;
     padding: 0;
     margin:0;
     display: inline-block;
     font-family: 'Dosis', sans-serif;
     font-size: 1.9rem;
   }
   span.position{
     font-size: 1rem;
     display: inline-block;
     padding: 0;
     margin-left:1rem;
     display: inline-block;
     @media (max-width: 650px){
       display: block;
       margin-left: 0px;
       margin-top: .3rem;
       margin-bottom: 2rem;
       //margin-top: 1rem;
     }
   }
   span.wave {
      //color:#4A90E2;
      color:rgb(130,130,130);
      text-transform: uppercase;
      //font-family: 'Dosis', sans-serif;
   }
   span.passion {
     color:rgb(227, 183, 104);
     text-transform: uppercase;
     //font-family: 'Dosis', sans-serif;
     //margin: 0 1rem;
   }
   span {
     //-webkit-animation:colorchange 4s 1 alternate;
     //-webkit-animation-delay: 1s;
     font-size: 1.3em;
     color:rgba(130,130,132,1);
     font-weight: 400;
     font-family: 'Quicksand', sans-serif;
     display: block;
     line-height: 2rem;;
     //margin-top: 1rem;
     padding: 1% 15% 1% 10%;
     //text-transform: uppercase;
     //border-left: 4px solid rgba(63,160,229,1);
     &.firstline {
       margin-top:2rem;
       margin-bottom: 1rem;
      font-family: 'Dosis', sans-serif;
      font-weight: 500;
      font-size: 1.4rem;
     }
     @media (max-width: 650px){
       font-size: 1em;
       line-height: normal;
       //margin-top: 1rem;
     }
   }
   .iconset {
     margin-left: 10%;
     margin-top: .7rem;
     a {
       color:rgba(130,130,132,1);
     }
     a:hover {
       color: rgba(63,160,229,.5);
       -webkit-transition: color $colorhoverTransTime; /* Safari */
       transition: color $colorhoverTransTime;
     }
     i {
       padding: 2% 5%;;
       margin-top: 1rem;
       &:nth-child(1){padding-left: 0px;}
       span {
         font-family: 'Quicksand', 'Open Sans', sans-serif;
         font-weight: 600;
       font-style: normal;
       margin-left: 1rem;
       font-size: 1.2rem;
       display: inline-block;
       padding: 0;
       }
     }
   }
  }
  .mPage_pinBorderOut {
    height: auto;
    margin: auto;
    margin-top: 11.04%;
    padding: 2.04%;
    display: block;
    background-color: rgba(200,200,200,1);
    a {
      p {
        font-size: 1em;
      }
    }
  }
  .mPage_pinBorderIn {
    margin: auto;
    display: block;
    //background-color: transparent;
    text-align: center;
    @include basicBorder(2px,auto,rgba(130, 130, 130, 1));
    img {
      width: 90%;
      max-width: 90%;
      z-index: 0;
    }
    h1 {
      font-size: 1em;
      border: 0;
      margin:0;

    }
    h2 {
      font-size: .9em;
      border: 0;
      margin:3% 0;
      color: rgb(216, 109, 56);
      padding-bottom: 10%;
    }
  }

   // ------ UX / Programming section ------- //

   .work-row {
     padding: 0;
     @include forLargeScreens(640){
       padding: 0  0  0  6.04%;
     };
   }
   .borderWorkOut {
     border-radius: 0px;
     height: auto;
     margin: auto;
     margin-top: 11.04%;
     padding: 0%;
     display: block;
     background-color: rgba(251, 251, 251, 1);
     box-shadow: 0 14px 28px rgba(70,70,70,0.5), 0 10px 10px rgba(70,70,70,0.45);
     transition: all 0.3s cubic-bezier(.25,.8,.25,1);
     a {
       p {
         font-size: 1em;
       }
     }
     &:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.45);
     }
     h1 {

     }
   }
   .borderWorkIn {
     margin: auto;
     display: block;
     background-color: transparent;
     text-align: left;
     @include basicBorder(0px,auto,rgba(130, 130, 130, .6));
     img {
       width: 100%;
       max-width: 100%;
       z-index: 0;
       margin-bottom: 1em;
     }
     h1 {
       font-size: 1em;
       border: 0;
       margin:0;
       font-family: 'Montserrat', sans-serif;
       color:rgb(100,100,100);
       font-weight: 500;
     }
     h2 {
       font-size: .9em;
       border: 0;
       margin:3% 0 0 0;
       //color: rgb(191, 129, 34);
       color: #e2a548;
       font-weight:bold;
       padding-bottom: 10%;
     }
   }
   @import "_borderTrans";

   ///////////


.overflow-hide {
  height: 160px;
  width: 500px;
  display: block;
  margin: 150px auto;
  overflow: hidden;
  position: relative;
}

.hole {
     content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    height: 10px;
    border-radius: 20px;
    background: black;
    z-index: 0;
}



/////WAVE/////////////

:selection{background-color: salmon; color: white;}
.parallax > use{
  animation:move-forever 20s linear infinite;
  &:nth-child(1){animation-delay:-2s;}
  &:nth-child(2){animation-delay:-2s; animation-duration:10s}
  &:nth-child(3){animation-delay:-4s; animation-duration:9s}
}

@keyframes move-forever{
  0%{transform: translate(-90px , 0%)}
  100%{transform: translate(85px , 0%)}
}
/////Filter////////

/* ---- button ---- */

.button {
  background-color: transparent;
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  border: none;
  color: rgba(130,130,132,1);
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

.button:hover {
  color: rgba(63,160,229,.5);
  -webkit-transition: color .3s; /* Safari */
  transition: color .3s;
}

.button:active,
.button.is-checked {
  //border-bottom: 2px solid rgba(100,100,100,1);
  background: rgba(190,190,190,1);
  border-radius: 100px;
  color: rgb(240,240,240);
}

.button.is-checked {
  //color: rgba(100,100,100,1);
  color: rgb(240,240,240);
  border-radius: 100px;
  //-webkit-transition: all 2s; /* Safari */
  //transition: all 2s;
  //text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  //box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}
.button-group {
  margin-top: 1rem;
}

.button-group .button {
  float: left;
  //border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}



/* ---- isotope ---- */

.grid {
  //border: 1px solid #333;
  margin: auto;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;

  margin: 5px;
  padding: 10px;
  //background: #888;
  color: #262524;
  a {
    display: inline-block;
    border: none;
    background-color:transparent;
    padding: 0;
    margin: 0;
  }
  a:focus {
    outline: 0;
  }
  a:hover {
    -webkit-box-shadow: 0px 0px 25px 3px rgba(150,150,150,1);
-moz-box-shadow: 0px 0px 25px 3px rgba(150,150,150,1);
box-shadow: 0px 0px 25px 3px rgba(150,150,150,1);
border: none;
transition: all .5s;
  }
    img {
      -webkit-box-shadow: 0px 0px 25px 3px rgba(200,200,200,1);
-moz-box-shadow: 0px 0px 25px 3px rgba(200,200,200,1);
box-shadow: 0px 0px 25px 3px rgba(200,200,200,1);
    }
    img.big {
      max-width:100%;
      height: auto;
      display: inline-block;
    }
    img.small {
      max-width:100%;
      height: auto;
      display: inline-block;
    }
    img.middle {
      max-width:100%;
      height: auto;
      display: inline-block;
    }

}
.size_big {
  height: auto;
  @media (min-width: 550px){
    width: 54%;
    //margin-top: 1rem;
  }
  @media (max-width: 551px){
    width: 100%;
    //margin-top: 1rem;
  }
}
.size_small {

  height: auto;
  @media (min-width: 550px){
    width: 38%;
    //margin-top: 1rem;
  }
  @media (max-width: 551px){
    width: 100%;
    //margin-top: 1rem;
  }
}
.size_middle {
  height: auto;
  @media (min-width: 550px){
    width: 30.4%;
    //margin-top: 1rem;
  }
  @media (max-width: 551px){
    width: 100%;
    //margin-top: 1rem;
  }
}

.element-item > * {
  margin: 0;
  padding: 0;
}
//////////////////////////////////////////
.editorial {
  display: block;
  width: 100%;
  height: 10em;
  max-height: 100vh;
  margin: 0;
}

.content {

font-family: 'Lato',sans-serif;
  text-align: center;  background-color: #2d55aa;
  text-align: center;
  min-height: 75vh;
  margin: -.1em 0 0 0;
  padding: 1em;
  color: #eee;
  font-size: 2em;
  font-weight: 300;
}
.content{font-size: 1em;}

.content h1 {
  margin-top:-1.3em;
  font-weight: 100;
  font-size: 5em;
  user-select:none;
  cursor: default;
}

/*prevent many large-by-comparison ripples by shrinking the height*/
@media (max-width:50em){
  .content h1{font-size: 12vmax}
  .editorial{height:17vw;}
}

////

@import url(https://fonts.googleapis.com/css?family=Bangers);

.wrap {
  display: inline-block;
  padding: 0em 0.5em;
  margin: 0 auto;
  span {
  text-align: center;
  font-weight: normal;
  color: rgb(241, 190, 7);
  text-transform: uppercase;
  font-size: 2em;
  white-space: nowrap;
  font-size: 3.5vw;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.7);

 }
  @media screen and (max-width: 56em) {
  span {
    font-size: 9vw;
   }
 }
}
