body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

/***************Main***************/
.main {

  background-image     : url('img/main.jpg');
  background-position  : center center;
  background-attachment: fixed;
  background-size      : cover;
  width                : 100%;
  height               : 40em;


}
header {
    height    :40em;
    width     : 100%;
    background: rgba(0,0,0,0.4);

}
.main h2{
  text-align : center;
  color      : white;
  font-weight: normal;
  font-size  : 3em;
  font-family: 'Helvetica Neue', sans-serif;
  padding    : 2em 0 1em 0;
  margin     : 0px;
  width      : 100%;
  display    : inline-block;
}
/***************NavBar***************/
header nav {
  text-align: right;
  color     : rgba(255,255,255,0.9);
  font-size : 1em;
  position  : fixed;
  width     : 100%;
  z-index   : 1;
}
nav span{
  position        : absolute;
  top             : 5px;
  left            : 98px;
  font-weight     : bold;
  font-size       :2em;
  z-index         : 2;
  background-color: transparent;
  transition      : all 0.5s linear;
}
.movetext{
  top: -70px;

}

nav img {
  z-index   : 1;
  height    : 2.5em;
  max-width : 200px;
  width     : 100%;
  object-fit: contain;
  position  : absolute;
  left      : 40px;
  top       : 3px;
  transition: all 0.5s linear;
}

header nav a {
  color             : inherit;
  border-bottom     : 2px solid rgba(201,87,47,1);
  text-decoration   : none;
  margin            : 7px 1.5em;
  display           : inline-block;
  padding           : .5em 1em .5em;
  -webkit-transition: all .2s ease-in;
  font-weight       : bold;
  background-color  : transparent;
}
header nav a:hover {
  font-size:1.05em;

}
.movelogin {

	border-bottom     : 2px solid white;


}
/***************searchbar***************/
.header .search-style{

	position: relative;

}

.search-style input[type=text] {
    margin-top         : .4em;
    margin             : auto;
    display            : block;
    width              : 32em;
    box-sizing         : border-box;
    border             : 2px solid #ccc;
    border-radius      : 10px;
    font-size          : 16px;
    background-color   : white;
    background-position: 10px 10px;
    background-repeat  : no-repeat;
    padding            : 12px 20px 12px 40px;
    -webkit-transition : width 0.4s ease-in-out;
    transition         : width 0.4s ease-in-out;
    z-index            : 1;
}
.absolute {
	position: absolute;
}

.search-style input[type=text]:focus {

     border-radius     : 10px;
     border            : 3px solid rgba(201,87,47,1);
     color             : black;
     outline           : none !important;
     box-shadow        : 0 0 10px;
     -webkit-transition: border-radius,border 0.3s ease-in-out;
     transition        : border-radius,border  0.3s ease-in-out;
}

.sticky {
  position: fixed;
  top     : 0;
  margin: auto;
  display: block;
}
#navbar {
  width           : 100%;
  height          : 3em;
  background-color: rgba(201,87,47,1);
  z-index         : 0;

}
/***************scrolldown***************/
.scrolldown {
    position: relative;
    width   : 95%;
    text-align: center;
}
.scrolldown img{
  display: block;
  margin: auto;
    object-fit: contain;
    width     : 100px;
    height    : 100px;
    display   : block;
    padding-top: 16%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.scrolldown p{;
    text-align: center;
    color     : white;
    top       : 14em;
    padding-top: 26%;
}
/***************courselist***************/

.course-list{
    box-shadow      : 2px 4px 8px 2px rgba(0,0,0,0.2);
    background-color: white;
    width           : 80%;
    height          : auto;
    margin          : auto;
    margin-top      : 5em;
    padding         : 1em ;
    margin-bottom   : 5em;
}
.course-list .course{
    box-shadow      : 1px 1px 1px 1px rgba(0,0,0,0.2);
    background-color: white;
    width           : 95%;
    height          : auto;
    margin          : auto;
    margin-bottom   : 1em;
    padding         : .5em 1em 2em ;
}


.course h3{
    padding-bottom: 0px;
    margin-bottom :.4em;

}
.course h4{
    display     : inline;
    font-style  : italic;
    margin-left : 2em;
    margin-right: 1em;
    padding-top : 5px;
    font-weight : normal;
}
.course a{
    cursor            : pointer;
    text-decoration   : none;
    -webkit-transition: all 0.2s ease-in-out;
    transition        : all  0.2s ease-in-out;

}
.course a:hover{
	color:rgba(201,100,70,1);

}

/***************Modal*****************/
/* The Modal (background) */
.modal {
    display                   : none; /* Hidden by default */
    position                  : fixed; /* Stay in place */
    z-index                   : 1; /* Sit on top */
    left                      : 0;
    top                       : 0;
    width                     : 100%; /* Full width */
    height                    : 100%; /* Full height */
    overflow                  : auto; /* Enable scroll if needed */
    background-color          : rgb(0,0,0); /* Fallback color */
    background-color          : rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name    : fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name            : fadeIn;
    animation-duration        : 0.4s;
    padding-right             :10px;
    padding-top               : 70px;
    padding-bottom            : 70px;

}

/* Modal Content */
.modal-content {

    bottom                    : 50px;
    background-color          : #fefefe;
    width                     : 80%;
    height                    : 80%;
    -webkit-animation-name    : slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name            : slideIn;
    animation-duration        : 0.4s;
    margin                    : auto;
    border-radius             : 10px;
    overflow                  : auto;
}

/* The Close Button */
.close {
    color      : black;
    float      : right;
    font-size  : 28px;
    font-weight: bold;
    padding    : 2px 16px;
}

.close:hover,
.close:focus {
    color          : #000;
    text-decoration: none;
    cursor         : pointer;
}


.modal-body {padding: 18px 25px;}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
/********For course*********/
.modal-body .course{
    box-shadow      : 0px 0px 0px 0px rgba(0,0,0,0.2);
    border-bottom   : 0.1em solid rgba(0,0,0,0.5);
    background-color: white;
    width           : 95%;
    height          : auto;
    margin          : auto;
    margin-bottom   : 0.1em;
    padding         :.5em 1em .5em ;
}
.modal-body .course h3 {
	color:rgba(201,100,70,1);
}
.modal-body h5 {
 padding-left  : 4em;
 padding-bottom: 1em;
}
.modal-body p {
 padding-left: 4.5em;
 font-weight : normal;
}
.modal-body .comment{
  box-shadow : 1px 1px 1px 1px rgba(0,0,0,0.2);
  width      : 60%;
  height     : auto;
  margin-left: 1em;
  padding    : 1em 1em 1em 1em;
  display    : inline-block;
}
.modal-body img{
  object-fit : contain;
  width      : 50px;
  height     : 50px;
  margin-left: 4em;
}
.modal-body #comment{
    padding           : .5em;
    max-width         : 62%;
    width             : 62%;
    max-height        : 100px;
    height            : 70px;
    overflow          : auto;
    margin-top        : 2em;
    margin-left       : 7.8em;
    border            : 0;
    box-shadow        : 1px 1px 1px 1px rgba(0,0,0,0.2);
    -webkit-transition: border-radius,border 0.3s ease-in-out;
    transition        : border-radius,border  0.3s ease-in-out;
}
.modal-body #comment:focus{
    border    : 3px solid rgba(201,87,47,1);
    color     : black;
    outline   : none !important;
    box-shadow: 0 0 10px;

}
.modal-body input[type="submit"]{
    font-size         : 1em;
    color             : white;
    background-color  : rgba(201,87,47,1);
    border-radius     : 20px;
    border            : 1px solid white;
    margin-left       : .5em;
    cursor            : pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition        : all  0.3s ease-in-out;
}
.modal-body input[type="submit"]:hover{

	background-color: rgba(201,87,47,0.5);

}
/**********Login**************/
#myModal_login {
	padding:0px;
}
.form * {
  box-sizing: border-box;
}


p.forgot a {
  text-decoration: none;
  color          : rgba(201,87,47,0.6);
  transition     : .5s ease;
}
p.forgot a:hover {
  color: rgba(201,87,47,0.8);
}
.form {
  box-sizing   : border-box;
  background   : rgba(214,210,196,1);
  padding      : 40px;
  max-width    : 600px;
  margin       : 20px auto;
  border-radius: 4px;
  box-shadow   : 0 2px 5px 2px rgba(0,0,0,0.5);


}

.tab-group {
  list-style:none;
  padding   :0;
  margin    :0;
}
.tab-group:after {
    content: "";
    display: table;
    clear  : both;
}
li a {
    display        :block;
    text-decoration:none;
    padding        :15px;
    background     :rgba(201,87,4,.25);
    color          :white;
    font-size      :20px;
    float          :left;
    width          :50%;
    text-align     :center;
    cursor         :pointer;
    transition     :.5s ease;
}
li a:hover {

}
.active a {
    background:rgba(201,87,4,1);
    color     :white;
 }
#signup {
  border :5px solid rgba(201,87,4,1);
  padding:30px;

}
#login {
  border :5px solid rgba(201,87,4,1);
  padding:30px;

}


.tab-content > div:last-child {
  display:none;
}


.tab-content h1 {
  text-align :center;
  color      :gray;
  font-weight:300;
  margin     :0 0 40px;
}

label {
  position                   : absolute;
  transform                  : translateY(6px);
  left                       : 13px;
  color                      : rgba(0,0,0,.3);
  transition                 : all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events             : none;
  font-size                  : 22px;
}
 label .req {
    margin:2px;
    color :red;
  }


label.active {
  transform:translateY(-20px);
  left     :2px;
  font-size:14px;
}

label.active .req {
   opacity:0;
}


label.highlight {
	color:black;
}

.tab-content input {
  font-size       :22px;
  display         :block;
  width           :100%;
  height          :100%;
  padding         :5px 10px;
  background      :none;
  background-image:none;
  border          :1px solid #a0b3b0;
  color           :black;
  border-radius   :0;
  transition      :border-color .25s ease, box-shadow .25s ease;
}
.tab-content input:focus {
  outline:0;
  border :2px solid black;
}

.field-wrap {
  position     :relative;
  margin-bottom:40px;
}

.top-row:after {
    content: "";
    display: table;
    clear  : both;
}

.top-row > div {
    float       :left;
    width       :48%;
    margin-right:4%;
 }
.top-row > div:last-child {
  margin:0;
}
.button {
  border            :0;
  outline           :none;
  padding           :15px 0;
  font-size         :.8rem;
  font-weight       :600;
  text-transform    :uppercase;
  text-align        : center;
  letter-spacing    :.1em;
  background        : rgba(201,87,47,1);;
  color             :white;
  border-radius     : 50px;
  padding           :10px 10px;
  transition        :all.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
    background:rgba(201,87,47,0.8);;
}

.button-block {
  display:block;
  width  :100px;
  height :100px;
  margin :auto;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}
